.name {
  color: blue;
  font-family: Georgia, serif;
  font-size: 30px;
}

table {
  border: 2px dotted;
}

.cells {
  border: 2px solid blue;
}

.grid {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
}

.item {
  width: 100px;
  height: 100px;
}
